/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato";

}

.body-background{

    padding: 0 40px;
    background-image: url("images/Bg Image.png");
    background-repeat: no-repeat;
    background-color:#16181d;
}

.center{
    max-width: 1196px;
    margin: auto;
}

.nav-arrangement{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 0 ;
    align-items: flex-end ;
    
}

.nav-style{
    display: flex;
    flex-direction: row;
    gap: 40px;
   
}

.nav-style li{
    list-style-type: none;
}

.nav-link{
    
     text-decoration: none;
     font-weight: 700;
     font-size: 18px;
     line-height: 24px;
     color: white;   
     
 }

.nav-link:hover{
display: flex;
border: 1px solid white;

}

.main_content{
    display: flex;
    padding: 20px 0 0;
    
}

.content_description{
    margin-top: 90px;
    width: 50%;
}

.description_heading{
    
    font-weight:700px;
    font-size:40px;
    line-height:59px;
    color: white;
    margin-bottom: 20px;
}
.description_subhead{
    font-weight:400px;
    font-size: 18px;
    line-height:24px;
    color: white;
    text-align:justify; 
    margin-bottom: 45px;
}

#CTA{
    display: inline-block;
    background-color: #9E7666;
    text-align: center;
    padding: 24px 98px;
    border-radius: 50px;
    color: white;
    font-weight: 600px;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    margin-bottom: 20px;
}

 #CTA:hover{
    background-color: #9e5336;
    font-size: 20px;
}

.content_img{
width: 50%;   
  }
.content_img img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .body-background{
   
   } 
   .nav-style{
    display: none;
   }
   .main_content{
    display: block;
    
    
}
   .content_description{
    
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.description_subhead{
    text-align: center;
}
#CTA{
    padding: 18px 60px;
    justify-self: center;
}
.content_img{
    width: 100%;   
}
}